body {
    font-family: Alan sans;
    background-image: url(../img/background_battle.png);
    background-position: top;

}

header {
    padding: 14px;
    width: 100%;
    height: 72px;
    background-color: #0079CF;
    display: flex;
    justify-content: space-between;
}

.flex_wrap {
    display: flex;
    flex-direction: column;
}

.date_wrap {
    display: flex;
    justify-self: center;
    gap: 16px;
    height: 16px;
}

.boss {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.boss.damage {
    transform: rotate(1.5);
}

.boss.active {
    transform: rotate(0.2turn);
    transition: 0.3s;
    opacity: 0;
}

.brush {
    display: flex;
    justify-content: center;

    &:active {
        translate: 40px;
    }
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.6);

    img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.modal.active {
    display: block;

    img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}