body {
    font-family: Alan sans;
    background-image: url(../img/background_battle.png);
    background-position: top;

}

header {
    padding: 14px;
    width: 100%;
    height: 72px;
    background-color: #0079CF;
    display: flex;
    justify-content: space-between;
}

.flex_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date_wrap {
    position: relative;
    width: 113px;
    height: 26px;
}

.data_value {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: bold;
}

.boss {
    margin-top: 200px;

    .boss_gauge_bk {
        width: 233px;
        background-color: #666;
        height: 12px;
        border-radius: 30px;
        box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.25) inset;

        .boss_gauge {
            background-color: tomato;
            height: 12px;
            border-radius: 30px;
            box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.25) inset;

        }
    }

}





.boss.damage {
    transform: rotate(1.5);
}

.boss.active {
    transform: rotate(0.2turn);
    transition: 0.3s;
    opacity: 0;
}

.brush {
    display: flex;
    justify-content: center;

    &:active {
        translate: 40px;
    }
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.6);

    a {
        color: #FFF;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        background-color: #0079CF;
        display: flex;
        width: 211px;
        height: 80px;
        padding: 8px 41px 8px 42px;
        justify-content: center;
        align-items: center;

        border-radius: 30px;
        background: #0079CF;
        box-shadow: 2px 3px 9px 0 rgba(0, 56, 120, 0.30);

    }

    img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

}

.modal.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}